//git.andrewburgess.io/api/packages/andrewburgess/npm/:_authToken=${GITEA_ACCESS_TOKEN}

registry=https://registry.npmjs.org/
@andrewburgess:registry=https://git.andrewburgess.io/api/packages/andrewburgess/npm/
